#main {
    padding-top: 90px;
}

.interlinear {
    padding-top: 1em;
}

.verse-row {
    padding-bottom: 1.5em;
}

audio {
    width: 100%;
}

@font-face {
    font-family: "SBL Hebrew";
    src: url("SBLHebrew.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

.biblical-hebrew {
    font-family: "SBL Hebrew";
    font-weight: normal;
    font-style: normal;
    font-size: 24pt;
}

.english {
    font-family: "Times";
    font-weight: normal;
    font-style: normal;
    font-size: large;
    font-size: 14pt;
}
